RESEND_API_KEY=re_your_resend_key_here
ORDER_NOTIFY_EMAIL=orders@northpeptidesuk.com
ORDER_FROM_EMAIL="North Peptides UK <onboarding@resend.dev>"
BANK_ACCOUNT_NAME=your_account_name
BANK_SORT_CODE=00-00-00
BANK_ACCOUNT_NUMBER=00000000
